@import "bootstrap.scss";

$base-color: #856298;
$lightest-color: #d394e2;
$darkest-color: #5B3256;
$white: #ffffff;

/******************************* HTML Elements *******************************/
html, body {
    overflow-x: hidden;
    width: 100%;
}
html {
    position: relative; /* Sticky Footer Style */
    min-height: 100%; /* Sticky Footer Style */
}
body {
    margin: 0;
    margin-bottom: 250px; /* Margin bottom by footer height */
    background-image: url('../../axehut/images/geometry2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
}
/******************************* Universal styles  *******************************/
.row-centered {
	text-align: center;
}
/******************************* Navbar fixed top *******************************/
.navbar-fixed-top {
	.fa {
		color: $base-color;
		font-size: 1.3em;
	}
    .navbar-brand{
        img {
           width: 100%;
           height: 25px;
        }
    }
}
/******************************* Header static top *******************************/
.header-default {
	@extend .navbar-default;
	background-color: $base-color;
	height: 30vh;
}
.header-static-top {
	@extend .navbar-static-top;
    h3 {
        position: absolute;
        top: 125px;
        color: $white;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }
}

/******************************* Section *******************************/
.feed-section, .story-section {
    height: 100%;
    text-align: center;
    background: #fff;
}

/******************************* Universal Styles *******************************/
.input-group {
	margin: 50px 0;
}
.rating {
    @extend .thumbnail;
    background-color: $lightest-color;
	color: $white;
    display: block;
    margin: auto;
    border: none; 

	.text {
		display: block;
        padding-top: 10px; 
		font-size: 12px;
	}
}
.thumbnail {
    margin: 10px !important;
    max-width: 130px;
    width: 130px;
    max-height: 100px;
    height: 100px;

     img {
        max-height: 100%;
     }
    
}
.post-timestamp {
	font-size: 12px;
}
.post-title, .post-timestamp, .inline {
	text-align: left;
}
.inline {
    .post-comments, .post-regrets, .post-company, .post-links {
        margin: 0 3px;
    }
	.label {
		background-color: $darkest-color;
	}
}
.post-separator:after {
    border-bottom: solid 1px #ccc;
    display: block;
    margin: 50px 0;
    position: relative;
    top: 25px;
}

/******************************* Footer *******************************/
.footer {
	padding: 40px 0;
	/*background-color: $darkest-color;*/
	color: $white;
	/* Sticky Footer Styles */
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 190px;

    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);

	a {
		color: rgba($white, .7);
        &:hover {
            color: $white;
        }
	}

    li {
        margin: 2.5px;
        display: inline-block;
    }
}

/******************************* Media Queries *******************************/
@media(max-width: 767px){
    .header-default {
        margin-top: 50px;
        height: 15vh;
    }
    .header-static-top {
        h3 {
            top: 65px;
        }
    }
    .feed{
        .col-xs-3 {
            width: 50%;

            .rating {
                max-width: 450px;
                float: right !important;
            }
            .thumbnail {
                max-width: 450px;
                float: left;
            }
        }
        .col-xs-6 {
            width: 100%;
            
            h4, p, a, .inline {
                text-align: center;
            }

            .inline {
                margin-bottom: 15px;
            }
        }
    }
    .footer {
        height: 200px;
        padding: 20px 0; 
    }
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
@media(max-width:480px){
    .inline {
        .post-comments, .post-regrets, .post-company, .post-links {
            margin: 0 2.5px !important;
            font-size: 11px;
        }
    }
}
