@import "../bootstrap/bootstrap.scss";


/* Grays */
$mine-shaft: #333333;
$gray: #8b8b8b;
$silver: #cccccc;
/* Purples */
$trendy-pink: #856298; /*Base Color*/
$lavender: #d394e2; /*Hightlight Color*/
$bossanova: #44214d; /*Hightlight Color 2*/
$finn: #5B3256; /*Footer*/
/* Blues */
$lochmara: #0377ba;
$venice-blue: #07487a;
/* Basics */
$white: #ffffff;
$off-white: #cdcdcd;

/******************************* HTML Elements *******************************/
html, body {
    overflow-x: hidden;
    width: 100%;
}
html {
    position: relative; /* Sticky Footer Style */
    min-height: 100%; /* Sticky Footer Style */
}
body {
    margin: 0;
    margin-bottom: 220px; /* Margin bottom by footer height */
    background-color: $white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}
section {
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
/******************************* Navbar fixed top *******************************/
.navbar-fixed-top {
	.fa {
		color: $trendy-pink;
		font-size: 1.3em;
	}
    .navbar-brand{
        img {
           width: 100%;
           height: 25px;
        }
    }
}
/******************************* Header static top *******************************/
.header-default {
	@extend .navbar-default;
	background-color: $trendy-pink;
	height: 100px;
    margin-bottom: 20px;
}
.header-static-top {
	@extend .navbar-static-top;
    h3 {
        padding: 15px;
        color: $white;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: 200;
    }
}
.form-header {
    text-transform: capitalize !important;
    padding: 0 !important;
}
/******************************* Centered Rows  *******************************/
.row-centered {
    text-align: center;
}
/******************************* Focus Inputs *******************************/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: darken($silver, 25%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $silver;
  outline: 0 none;
  border-width: 2px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.text-danger {
    color: #e67e22;
}
/******************************* Border Bottom  *******************************/
.separator:after {
    border-bottom: solid 1px transparent;
    display: block;
    margin: 20px 0;
    position: relative;
    top: 15px;
}
.tooltip-arrow {
    border-bottom-color: $bossanova !important; 
}
.tooltip-inner {
    background-color: $bossanova;
}
/******************************* Sections *******************************/
.feed-section, .single-post-section {
    height: 100%;
    text-align: center;
    overflow-y: hidden;

    .post-content, .post-regrets-content {
        text-align: justify;
        font-size: 18px;
    }
    .comment {
        text-align: justify;
        padding: 10px 0;
        font-size: 15px;
    }
}
/* Feed Section Styles */
.feed-section {
    /** Search **/
    h4 {
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: bold;
    }
    .search {
        .form-control {
            height: 45px;
            font-size: 22px;
            width: 95%;
            border-radius: 3px;
        }
        .btn {
            padding: 6px 20px;
            font-size: 18px;
            border-radius: 4px !important;
        }
    }
    .col-xs-2 {
        padding-left: 0;
        padding-right: 0; 
    }
    .post-meta {
        position: relative;
        bottom: 15px;
    }
    .post-company {
        background-color: transparent;
        color: $lochmara;
        &:hover, &:focus, &:active {
            color: $venice-blue;
            text-decoration: underline;
        }
    }
}

/* Single Post Section Styles */
.single-post-section{
    padding-top: 20px; 

    .separator:after {
       margin: 25px 0;
       top: 0;
       border: solid 1px $silver;
    }
    h4 {
        margin-top: 25px;
        text-transform: capitalize;
        font-weight: bold;
    }
    .single {
        font-size: 18px;
    }
    .post-timestamp {
        padding-top: 15px;
        text-transform: lowercase;
        bottom: 0;
    }
    .post-detail {
        h5 {
            margin: 15px 0;
            font-weight: bold;
        }
    }
    .post-company, .post-recruiter {
        padding: 0.7em 1em 0.7em;
        width: 155px;
        display: block;
        margin: auto;  
    }
    .narrow {
        padding-left: 40px;
        padding-right: 40px;
    }
    .post-delete {
        text-align: right;
        width: 100%;
        .fa {
            padding-right: 10px;
        }
        .btn {
            padding: 0.3em 1em 0.3em;
            font-size: 10px;
            margin-bottom: 10px; 
        }
    }
}
/* Comments Section Styles */ 
.comments-section {
    .comments {
        .btn {
            float: right;
            margin: 10px 0;
        }
    }
    .comment-timestamp {
        text-align: left;
        color: $gray;

        a.user {
            color: $venice-blue !important;
            font-weight: bold;
        }
        .deserved-it {
            color: $bossanova;
            font-weight: bold;
            text-transform: capitalize;
        }
        .fa {
            font-size: 6px;
            margin: 0 5px;
            bottom: 2px;
            position: relative;
        }
    }
    .comment-links {
        text-align: left;

        .fa {
            font-size: 6px;
            margin: 0 5px;
            bottom: 2px;
            position: relative;
        }
        .upvote, .downvote {
            text-transform: lowercase;
        }
        a.reply, a.flag {
            font-weight: bold;
            text-transform: lowercase;

            a {
                color: $finn;
            }
        }
    }
}
.form-section {
    font-size: 18px;

    .form-horizontal .form-group {
        margin-left: 80px;
        margin-right: 80px;
    }
    .control-label {
        margin-bottom: 5px;
    }
    .checkbox {
        padding-left: 0;
    }
}
/******************************* Thumbnail *******************************/
/* In Story Detail */
.thumbnail {
    max-height: auto;
    height: auto;
    margin-top: 10px;

     img {
        max-height: 100%;
        width: 100%;
     }
}
/* In Feed */
.post-thumbnail {
    @extend .thumbnail;
    max-height: 48px;
    height: 48px;
    max-width: 78px;
    width: 78px;
    border: none;
    border-radius: 0; 
    position: relative;
    right: 10px;
    padding: 0;
}
.user-thumbnail {
    @extend .thumbnail;
    border: none;
}
.post-image {
    @extend .thumbnail;
    margin: 10px 0;
    max-height: 250px !important;
    height: 250px !important;
}
.desktop {
    width: 10.66667%;
}
.post-desktop {
    width: 70.66667%;
}
/******************************* Post Rating Feed *******************************/
/* In Story Detail */
.rating {
    color: $white;
    display: block;
    margin: auto;
    border: none;

    h3 {
        position: relative;
        bottom: 2px;
        margin: 0;
        text-transform: lowercase;
    }

    .text {
        display: block;
        font-size: 11px;
    }
    .percentage {
        font-size: 12px;
    }
}
/* In Feed */
.post-rating {
    @extend .rating;
    @extend .post-thumbnail;
    margin-top: 10px;
    max-height: 46px;
    height: 46px;
    max-width: 72px;
    width: 72px;
    border-radius: 3px; 
    right: 0;
    padding: 4px;
}
.deserved {
    @extend .rating;
    background-color: $bossanova;
}
.not-deserved {
    @extend .rating;
    background-color: $lavender;
}
/******************************* Post Rating Story Detail Page *******************************/
.single-story-rating {
    @extend .rating;
    @extend .thumbnail;
    h1 {
        font-size: 60px;
        margin-top: 0;
    }
}
.deserved-btn {
    @extend .rating;
    @extend .thumbnail;
    background-color: $lochmara;
    width: 48%;
    margin: 0 1% 15% 1%;
    float: left;
    a {
        color: $white;
        font-size: 10px;

        &:hover{
            text-decoration: none;
        }
    }
    &:hover{
        background-color: lighten($lochmara, 10%);
    }
    .fa {
        font-size: 3em;
        display: block;
    }
}
.not-deserved-btn {
    @extend .deserved-btn;
    background-color: $venice-blue;
    &:hover{
        background-color: darken($venice-blue, 10%);
    }
}
/******************************* Share Story *******************************/
.share-story {
    margin: 20px auto;
    width: 100%;
    text-align: center;

    .btn {
        background-color: $finn;
        border-color: $bossanova;
        &:hover, &:focus, &:active {
            background-color: $bossanova;
        }
    }
}
/******************************* Post Meta *******************************/
a.user {
    color: $trendy-pink;
}
.post-title, .post-timestamp {
    text-align: left;
}
.post-title a {
    color: $mine-shaft !important;
    text-transform: capitalize;
    &:hover,&:focus,&:active {
        text-decoration: none;
    }
}
.post-timestamp {
    font-size: 11px;
    color: $gray;
    position: relative;
    bottom: 5px;
}   
.post-comments, .post-regrets, .post-company, .post-links {
    margin: 5px 3px;
    font-size: 14px;
}
a.post-comments, a.post-links {
    text-transform: lowercase;
    color: $gray;
}
.post-links {
    display: inline-block;
}
.post-company, .post-recruiter {
    background-color: $finn;
    color: $white;
    font-weight: 400;
}
/******************************* Footer *******************************/
.footer {
	padding: 40px 0;
	background-color: $finn;
	color: $off-white;
	/* Sticky Footer Styles */
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 190px;

	a {
		color: $off-white;
        &:hover {
            color: $white;
        }
	}

    li {
        margin-right: 2.5px;
        display: inline-block;
    }
}
/******************************* Media Queries *******************************/
@media (min-width: 1200px){
    .container {
        width: 750px !important;
    }
}
@media (min-width: 992px){
    .container {
        width: 750px !important;
    }
}
@media(max-width: 767px){
    body {
        padding-top: 50px;
    }
    .header-default {
        height: 80px;
    }
    .header-static-top h3 {
        font-size: 19px;
        padding: 8px 0;
    }
    .form-header {
        font-size: 22px !important;
    }
    .feed-section {
        .col-xs-2 {
            padding-left: 10px;
        }
        .desktop {
            width: 14.66667%;
            margin-left: 10px;
        }
        .post-desktop {
            padding-left: 25px;
            width: 63.66667%;
        }
    }
    .single-post-section {
        .col-sm-3 {
            height: 125px;
        }
        .col-sm-9 {
            margin-top: 5%;
        }
        .single-story-rating {
            width: 33%;
            display: block;
            h1 {
                font-size: 60px;
                margin-top: 10px;
            }
            .text {
                position: relative;
                top: 1px;
            }
        }
        .post-vote {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: 1060;
            background: $trendy-pink;
        
            h4 {
                padding-left: 10px;
                display: inline-block;
                float: left;
                color: $white;
                margin: 25px 0;
                font-size: 17px;
            }
            .fa {
                font-size: 1.3em;
            }
            .deserved-btn {
                float: right;
                margin: 2.5% 1%;
                width: 17%;
            }
        }
        .deserved, .not-deserved {
            display: inline-block;
            float: left;
            height: 100%;
            width: 33% !important; 
        }
        .post-detail {
            width: 33%;
            padding-left: 25px;
            float: left;
        }
        .post-company, .post-recruiter {
            width: initial;
            font-size: 16px;
        }

        .post-image {
            max-height: 200px !important;
            height: 200px !important;
            max-width: 300px !important;
            width: 300px !important;
            margin: 10px auto;
        }
    
        .form-section {
            .form-horizontal {
                margin: 0 15px;
            }
            .control-label {
                padding-bottom: 7px;
            }
            .btn {
                float: none;
                text-align: center;
                width: 100%;
            }
        }
        .footer {
            height: 200px;
            padding: 20px 0; 
        }
    }
}
@media(min-width: 767px){
    /*.navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }*/
    .top-nav-collapse {
        padding: 0;
    }
    .body-padding-top {
        padding-top: 90px;
    }
    .aside {
        width: 188px;
    }
    .fixed {
        top: 55px;
        position: fixed;
        width: 188px;
    }
}
@media(max-width: 500px){
    .single-post-section {
        .post-company, .post-recruiter {
            font-size: 14px;
        }
        .post-company {
            margin-top: 30px;
        }
        .post-vote {
            h4 {
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 480px){
    .header-default {
        height: 65px;
        margin-bottom: 30px;
    }
    .form-header {
        font-size: 20px !important;
    }
    .header-static-top h3 {
        font-size: 16px;
        padding: 0 4px;
    }
    .feed-section {
        .col-xs-2 {
            padding-left: 15px;
            padding-right: 65px; 
        }
        .col-xs-8 {
            padding-left: 25px;
            padding-right: 0;
            width: 78.66667%;
        }
        /*Search*/
        .search {
            .form-control, .btn {
                font-size: 16px;
            }
        }
        .post-title a {
            font-size: 16px;
            margin: 0 0.5px;
        }
        .post-meta {
            bottom: 5px; 
        }
        .post-comments, .post-regrets, .post-company, .post-links {
            margin: 5px 2px;
        }
        .post-rating {
            right: 7px;
        }
        .inline {
            .post-comments, .post-regrets, .post-company {
                margin: 0 2.5px !important;
                font-size: 14px;
            }
        }
    }
    .single-post-section {
        padding-top: 0;
        .col-sm-3 {
            height: 85px;
        }
        .post-vote {
            h4 {
                font-size: 11px;
            }
        }
        .single-story-rating {
            height: 70px;
            h1 {
                margin-top: 0;
                font-size: 33px;
            }
            .text {
                font-size: 8px;
                position: relative;
                top: 8px;
            }
        }
        .post-detail {
            position: relative;
            bottom: 15px;
            padding-left: 10px;
            h5 {
                font-size: 13px;
            }
        }
        .post-company, .post-recruiter {
            font-size: 10px;
        }
        .post-company {
            margin-top: 0;
        }
        .narrow {
            padding-left: 15px;
            padding-right: 15px;
        }
        
    }
    .form-section {
        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .footer li, .footer a, .footer p {
        font-size: 12px;
    }
    .desktop {
        display: none;
        visibility: hidden;
    }
}
@media(min-width: 480px) {
    .mobile {
        display: none;
        visibility: hidden;
    }
}
@media(max-width: 400px) {
    .header-default {
        margin-bottom: 20px;
    }
    .feed-section {
        .col-xs-8 {
            padding-left: 25px;
            width: 72.667% !important
        }
        /*Search*/
        .search {
            .form-control, .btn {
                font-size: 13px;
            }
            .btn {
                padding: 12px 20px;
            }
        }
    }
}
@media(max-width: 428px){
    .single-post-section{
        .post-company {
            margin-top: 29px;
        }
    }
}
@media(max-width: 320px){
    .feed-section {
        .desktop {
            width: 14.66667%;
            margin-left: 10px;
        }
        .post-desktop {
            width: 63.66667%;
        }
    }
}