@import "../bootstrap/bootstrap.scss";


/* Grays */
$mine-shaft: #333333;
$gray: #8b8b8b;
$silver: #cccccc;
/* Purples */
$trendy-pink: #856298; /*Base Color*/
$lavender: #d394e2; /*Hightlight Color*/
$bossanova: #44214d; /*Hightlight Color 2*/
$finn: #5B3256; /*Footer*/
/* Blues */
$lochmara: #0377ba;
$venice-blue: #07487a;
/* Basics */
$white: #ffffff;
$off-white: #cdcdcd;

/******************************* HTML Elements *******************************/
html, body {
    overflow-x: hidden;
    width: 100%;
}
html {
    position: relative; /* Sticky Footer Style */
    min-height: 100%; /* Sticky Footer Style */
}
body {
    margin: 0;
    margin-bottom: 220px; /* Margin bottom by footer height */
    background-color: $white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 90px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
/******************************* Navbar fixed top *******************************/
.navbar-fixed-top {
	.fa {
		color: $trendy-pink;
		font-size: 1.3em;
	}
    .navbar-brand{
        img {
           width: 100%;
           height: 25px;
        }
    }
}
/******************************* Header static top *******************************/
.header-default {
	@extend .navbar-default;
	background-color: $trendy-pink;
	height: 100px;
    margin-bottom: 50px;
}
.header-static-top {
	@extend .navbar-static-top;
    h3 {
        position: absolute;
        padding: 15px;
        color: $white;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: 200;
    }
}
.form-header {
    text-transform: capitalize !important;
    padding: 0 !important;
}
/******************************* Centered Rows  *******************************/
.row-centered {
    text-align: center;
}
/******************************* Border Bottom  *******************************/
.separator:after {
    border-bottom: solid 1px #cccccc;
    display: block;
    margin: 35px 0;
    position: relative;
    top: 15px;
}
.tooltip-arrow {
    border-bottom-color: $bossanova !important; 
}
.tooltip-inner {
    background-color: $bossanova;
}
/******************************* Sections *******************************/
.feed-section, .single-post-section {
    height: 100%;
    text-align: center;
    overflow-y: hidden;

    h4 {
        text-transform: capitalize;
    }
    .post-content, .post-regrets-content {
        text-align: justify;
        padding: 10px 0;
        font-size: 18px;
    }
    .comment {
        text-align: justify;
        padding: 10px 0;
        font-size: 15px;
    }
}
/* Feed Section Styles */
.feed-section {
    /** Search **/
    .search {
        .form-control {
            height: 45px;
            font-size: 22px;
            width: 95%;
        }
        .btn {
            padding: 9px 20px;
            font-size: 18px;
            border-radius: 4px !important;
        }
    }
}

/* Single Post Section Styles */
.single-post-section{
    .separator:after {
       margin: 25px 0;
        top: 0
    }
    .single {
        font-size: 18px;
    }
    .post-company, .post-recruiter {
        padding: 0.4em 1em 0.4em;
        width: 155px;
        display: block;
    }
    h5 {
        margin: 20px 0;
    }
}
/* Comments Section Styles */ 
.comments-section {
    .comments {
        .btn {
            float: right;
            margin: 10px 0;
        }
    }
    .comment-timestamp {
        text-align: left;
        color: $gray;

        a.user {
            color: $venice-blue !important;
            font-weight: bold;
        }
        .deserved-it {
            color: $bossanova;
            font-weight: bold;
            text-transform: capitalize;
        }
        .fa {
            font-size: 6px;
            margin: 0 5px;
            bottom: 2px;
            position: relative;
        }
    }
    .comment-links {
        text-align: left;

        .fa {
            font-size: 6px;
            margin: 0 5px;
            bottom: 2px;
            position: relative;
        }
        a.reply, a.flag {
            font-weight: bold;
            text-transform: lowercase;

            a {
                color: $finn;
            }
        }
    }
}

/******************************* Thumbnail *******************************/
/* In Story Detail */
.thumbnail {
    max-height: auto;
    height: auto;
    margin-top: 10px;

     img {
        max-height: 100%;
        width: 100%;
     }
}
/* In Feed */
.post-thumbnail {
    @extend .thumbnail;
    max-height: 46px;
    height: 46px;
    max-width: 72px;
    width: 72px;
}
.user-thumbnail {
    @extend .thumbnail;
    border: none;
}
.post-image {
    @extend .thumbnail;
    margin: 10px 0;
    max-height: 250px !important;
    height: 250px !important;
}
/******************************* Post Rating Feed *******************************/
/* In Story Detail */
.rating {
    color: $white;
    display: block;
    margin: auto;
    border: none; 

    h3 {
        position: relative;
        bottom: 2px;
        margin: 0;
    }

    .text {
        display: block;
        font-size: 11px;
    }
}
/* In Feed */
.post-rating {
    @extend .rating;
    @extend .post-thumbnail;
    margin-top: 10px;
}
.deserved {
    @extend .rating;
    background-color: $bossanova;
}
.not-deserved {
    @extend .rating;
    background-color: $lavender;
}
/******************************* Post Rating Story Detail Page *******************************/
.single-story-rating {
    @extend .rating;
    @extend .thumbnail;
    h1 {
        font-size: 60px;
    }
}
.deserved-btn {
    @extend .rating;
    @extend .thumbnail;
    background-color: $lochmara;
    width: 48%;
    margin: 0 1% 15% 1%;
    float: left;
    a {
        color: $white;
        font-size: 10px;

        &:hover{
            text-decoration: none;
        }
    }
    &:hover{
        background-color: lighten($lochmara, 10%);
    }
    .fa {
        font-size: 3em;
        display: block;
    }
}
.not-deserved-btn {
    @extend .deserved-btn;
    background-color: $venice-blue;
    &:hover{
        background-color: darken($venice-blue, 10%);
    }
}
/******************************* Post Meta *******************************/
a.user {
    color: $trendy-pink;
}
.post-title, .post-timestamp {
    text-align: left;
}
.post-title a {
    color: $mine-shaft !important;
    text-transform: capitalize;
}
.post-timestamp {
    font-size: 10px;
    color: $gray;
}   
.post-comments, .post-regrets, .post-company, .post-links {
    margin: 0 3px;
    font-size: 14px;
}
a.post-comments {
    color: $gray;
}
.post-links {
    display: inline-block;
}
.post-company, .post-recruiter {
    background-color: $finn;
    color: $white;
    font-weight: 400;
}

/******************************* Footer *******************************/
.footer {
	padding: 40px 0;
	background-color: $finn;
	color: $off-white;
	/* Sticky Footer Styles */
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 190px;

	a {
		color: $off-white;
        &:hover {
            color: $white;
        }
	}

    li {
        margin-right: 2.5px;
        display: inline-block;
    }
}
/******************************* Media Queries *******************************/
@media (min-width: 1200px){
    .container {
        width: 750px !important;
    }
}
@media (min-width: 992px){
    .container {
        width: 750px !important;
    }
}
@media(max-width: 767px){
    body {
        padding-top: 50px;
    }
    .header-default {
        height: 80px;
    }
    .header-static-top h3 {
        font-size: 19px;
        padding: 8px 0;
    }
    .form-header {
        font-size: 22px !important;
    }
    .feed-section{
        .col-xs-3 {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;

            .rating {
                float: right !important;
            }
            .post-thumbnail {
                float: left;
                max-width: 185px;
                width: 185px;
            }
        }
        .col-xs-6 {
            width: 100%;
            h4, p, a, .inline {
                text-align: center;
            }

            .inline {
                margin-bottom: 15px;
            }
        }
    }
    .single-post-section {
        .col-sm-3 {
            padding-left: 100px;
            padding-right: 100px;
                .deserved-btn {
                    margin: 0 1% 5% 1%;
                }
        }
        .col-sm-9 {
            margin-top: 5%;
            .post-image {
                max-height: 200px !important;
                height: 200px !important;
                max-width: 300px !important;
                width: 300px !important;
                margin: 10px auto;
            }
        }
    }
    .form-section {
        .form-horizontal {
            margin: 0 15px;
        }
        .control-label {
            padding-bottom: 7px;
        }
        .btn {
            float: none;
            text-align: center;
            width: 100%;
        }
    }
    .footer {
        height: 200px;
        padding: 20px 0; 
    }
}
@media(min-width: 767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
    .body-padding-top {
        padding-top: 120px;
    }
}
@media(max-width: 480px){
    .header-default {
        height: 75px;
        margin-bottom: 30px;
    }
    .form-header {
        font-size: 20px !important;
    }
    .header-static-top h3 {
        font-size: 16px;
        padding: 8px 4px;
    }
    .feed-section {
        /*Search*/
        .search {
            .form-control, .btn {
                font-size: 16px;
            }
        }
        .col-xs-3 {
            .post-thumbnail {
                max-width: 150px;
                width: 150px;
            }
        }
        .post-title a {
            font-size: 14px;
            margin: 0 2.5px;
        }
        .inline {
            .post-comments, .post-regrets, .post-company {
                margin: 0 2.5px !important;
                font-size: 12px;
            }
        }
    }
    .single-post-section {
        .col-sm-3 {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .footer li, .footer a, .footer p {
        font-size: 12px;
    }
}
@media(max-width: 400px) {
    .header-default {
        margin-bottom: 20px;
    }
    .feed-section {
        /*Search*/
        .search {
            .form-control, .btn {
                font-size: 13px;
            }
            .btn {
                padding: 12px 20px;
            }
        }
        .col-xs-3 {
            .post-thumbnail {
                max-width: 125px;
                width: 125px;
            }
        }
    }
}